header{
    width: 100%;
    height: 40px;
    padding: unset;
    position: unset;
    nav{
        height: 100%;
        ul{
            flex-flow: row nowrap;
            justify-content: center;
            li{
                width: fit-content;
                &:hover{
                    background-color: unset;
                }
                a{
                    color: white;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: 400ms;
                    &:hover{
                        color: gold;
                    }
                }
            }
        }
    }
}

input#close , input#show , label[for="close"] ,label[for="show"] , div.close, div.showBtn {
    display: none !important;
}